/* general 
========= */
html,body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica, "sans-serif";
}

@font-face {
  font-family: Helvetica;
  src: url(helveticaneueblack/HelveticaBlklt.tff) format("truetype");
}

p {
  font-size: 18px;
}

body {
    background: url("images/background-img-desktop.png") no-repeat center center;
  }
/* information/instructions 
================ */
.information {
  padding: 0 100px;
}

.information h1 {
  text-align: center;
  margin-top: 0;
}

.heading {
  padding-bottom: 6px;
  border-bottom: 2px solid #fff;
}

.logo {
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

/* forms
================*/
form {
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 100px;
}

label, input[type="text"], input[type="email"] {
  width: 100%;
}

input[type="text"], input[type="email"] {
  height: 26px;
  margin-bottom: 20px;
  background: transparent;
}

.form-submit {
  width: 100%;
  background-color: #A80000;
  padding: 10px 0;
  margin-top: 10px;
  border-color: #A80000;
}

/* footer 
=====*/

.footer {
  text-align: center;
  margin-top: 20px;
}

/* media queries
============ */

@media screen and (max-width: 990px){
  .description {
    display: none;
  }

  body {
    background: url("images/background-img-mobile.png") no-repeat center center;
  }

  .logo {
    width: 50%;
    float: left;
  }

  .heading {
    width: 50%;
    float: left;
    border-bottom: none;
  }

  .information {
    padding: 0 20px;
  }

  .information p {
    font-size: 20px;
  }

  form {
    margin-top: 10px;
  }
}


